.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  margin: 2rem 0;
}

.featureIcon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.featureIconText {
  display: inline-block;
  padding: 1rem;
  background-color: #e2e8f0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}